body {
  background: url("../images/maxresdefault.jpg") no-repeat center fixed;
  background-size: cover;
}

/* This is beginning of my Bio Section */
nav {
  background: grey;
  height: 100px;
  width: 1460px;
  text-align: right;
  padding: 40px;
  color: black;
  opacity: .8;
}

a {
  color: white;
  font-size: 1.25em;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
hr {
  color: white;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#mybio {
  margin-top: 200px;
  margin-left: 300px;
}

/* beginning of my footer section */
footer {
  background: grey;
  height: 100px;
  width: 1460px;
  text-align: center;
  padding: 40px;
  color: white;
  margin-top: 300px;
  opacity: .8;

}

/* this is where you will beging the media Queries */

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}